<!-- BEGIN_INCLUDE(mongo:create-collection) -->
        <mongo:create-collection config-ref="Mongo_DB__ConnectionManagement" collection="aCollection" capped="true"/>
<!-- END_INCLUDE(mongo:create-collection) -->

<!-- BEGIN_INCLUDE(mongo:list-collections) -->
        <mongo:list-collections config-ref="Mongo_DB__ConnectionManagement"/>
<!-- END_INCLUDE(mongo:list-collections) -->

<!-- BEGIN_INCLUDE(mongo:exists-collection) -->
        <mongo:exists-collection config-ref="Mongo_DB__ConnectionManagement" collection="aColllection"/>
<!-- END_INCLUDE(mongo:exists-collection) -->

<!-- BEGIN_INCLUDE(mongo:drop-collection) -->
        <mongo:drop-collection config-ref="Mongo_DB__ConnectionManagement" collection="aCollection"/>
<!-- END_INCLUDE(mongo:drop-collection) -->

<!-- BEGIN_INCLUDE(mongo:insert-object) -->
		<mongo:insert-object config-ref="Mongo_DB__ConnectionManagement" collection="Employees">
            <mongo:document ref="#[payload]"/>
        </mongo:insert-object>
<!-- END_INCLUDE(mongo:insert-object) -->

<!-- BEGIN_INCLUDE(mongo:insert-object-from-map) -->
        <mongo:insert-object-from-map config-ref="Mongo_DB__ConnectionManagement" collection="Employees">
            <mongo:element-attributes>
                <mongo:element-attribute key="foo">bar</mongo:element-attribute>
                <mongo:element-attribute key="foobar">baz</mongo:element-attribute>
            </mongo:element-attributes>
        </mongo:insert-object-from-map>
<!-- END_INCLUDE(mongo:insert-object-from-map) -->

<!-- BEGIN_INCLUDE(mongo:create-index) -->
        <mongo:create-index config-ref="Mongo_DB__ConnectionManagement" collection="myCollection" field="myField" order="DESC"/>
<!-- END_INCLUDE(mongo:create-index) -->

<!-- BEGIN_INCLUDE(mongo:add-user) -->
        <mongo:add-user config-ref="Mongo_DB__ConnectionManagement" newUsername="myUser" newPassword="myPassword"/>
<!-- END_INCLUDE(mongo:add-user) -->

<!-- BEGIN_INCLUDE(mongo:drop-database) -->
        <mongo:drop-database config-ref="Mongo_DB__ConnectionManagement"/>
<!-- END_INCLUDE(mongo:drop-database) -->

<!-- BEGIN_INCLUDE(mongo:drop-index) -->
        <mongo:drop-index config-ref="Mongo_DB__ConnectionManagement" collection="myCollection" index="myIndex"/>
<!-- END_INCLUDE(mongo:drop-index) -->

<!-- BEGIN_INCLUDE(mongo:list-indices) -->
        <mongo:list-indices config-ref="Mongo_DB__ConnectionManagement" collection="myCollection"/>
<!-- END_INCLUDE(mongo:list-indices) -->

<!-- BEGIN_INCLUDE(mongo:update-objects) -->
        <mongo:update-objects config-ref="Mongo_DB__ConnectionManagement" collection="myCollection">
        	<mongo:query ref="#[payload]"/>
        	<mongo:element ref="#[payload]"/>
        </mongo:update-objects>
        
<!-- END_INCLUDE(mongo:update-objects) -->

<!-- BEGIN_INCLUDE(mongo:save-object) -->
        <mongo:save-object config-ref="Mongo_DB__ConnectionManagement" collection="myCollection">
            <mongo:document ref="#[payload]"/>
        </mongo:save-object>
<!-- END_INCLUDE(mongo:save-object) -->

<!-- BEGIN_INCLUDE(mongo:save-object-from-map) -->
        <mongo:save-object-from-map config-ref="Mongo_DB__ConnectionManagement" collection="myCollection">
            <mongo:element-attributes>
                <mongo:element-attribute key="foo">bar</mongo:element-attribute>
                <mongo:element-attribute key="foobar">baz</mongo:element-attribute>
            </mongo:element-attributes>
        </mongo:save-object-from-map>
<!-- END_INCLUDE(mongo:save-object-from-map) -->

<!-- BEGIN_INCLUDE(mongo:remove-objects) -->
        <mongo:remove-objects config-ref="Mongo_DB__ConnectionManagement" collection="myCollection">
            <mongo:query ref="#[payload]"/>
        </mongo:remove-objects>
<!-- END_INCLUDE(mongo:remove-objects) -->

<!-- BEGIN_INCLUDE(mongo:remove-objects-using-query-map) -->
        <mongo:remove-objects-using-query-map config-ref="Mongo_DB__ConnectionManagement" collection="myCollection">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
                <mongo:query-attribute key="foobar">baz</mongo:query-attribute>
            </mongo:query-attributes>
        </mongo:remove-objects-using-query-map>
<!-- END_INCLUDE(mongo:remove-objects-using-query-map) -->

<!-- BEGIN_INCLUDE(mongo:map-reduce-objects) -->
        <mongo:map-reduce-objects config-ref="Mongo_DB__ConnectionManagement" collection="myCollection" mapFunction="myMapFunction" reduceFunction="myReduceFunction"/>
<!-- END_INCLUDE(mongo:map-reduce-objects) -->

<!-- BEGIN_INCLUDE(mongo:count-objects) -->
        <mongo:count-objects config-ref="Mongo_DB__ConnectionManagement" collection="myCollection" query-ref="dbObject"/>
<!-- END_INCLUDE(mongo:count-objects) -->

<!-- BEGIN_INCLUDE(mongo:count-objects-using-query-map) -->
        <mongo:count-objects-using-query-map config-ref="Mongo_DB__ConnectionManagement" collection="myCollection">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
            </mongo:query-attributes>
        </mongo:count-objects-using-query-map>
<!-- END_INCLUDE(mongo:count-objects-using-query-map) -->

<!-- BEGIN_INCLUDE(mongo:find-objects) -->
        <mongo:find-objects config-ref="Mongo_DB__ConnectionManagement" collection="myCollection" limit="5" numToSkip="10">
            <mongo:query ref="#[payload.query]"/>
            <mongo:fields>
                <mongo:field>field1</mongo:field>
                <mongo:field>field2</mongo:field>
            </mongo:fields>
        </mongo:find-objects>
<!-- END_INCLUDE(mongo:find-objects) -->

<!-- BEGIN_INCLUDE(mongo:find-objects-using-query-map) -->
       <mongo:find-objects-using-query-map config-ref="Mongo_DB__ConnectionManagement" collection="myCollection" limit="5" numToSkip="10">
            <mongo:fields>
                <mongo:field>field1</mongo:field>
                <mongo:field>field2</mongo:field>
            </mongo:fields>
       </mongo:find-objects-using-query-map>
<!-- END_INCLUDE(mongo:find-objects-using-query-map) -->

<!-- BEGIN_INCLUDE(mongo:find-one-object) -->
        <mongo:find-one-object config-ref="Mongo_DB__ConnectionManagement" collection="myCollection">
            <mongo:query ref="#[payload.query]"/>
            <mongo:fields>
                <mongo:field>field1</mongo:field>
                <mongo:field>field2</mongo:field>
            </mongo:fields>
        </mongo:find-one-object>
<!-- END_INCLUDE(mongo:find-one-object) -->

<!-- BEGIN_INCLUDE(mongo:find-one-object-using-query-map) -->
        <mongo:find-one-object-using-query-map config-ref="Mongo_DB__ConnectionManagement" collection="myCollection">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
            </mongo:query-attributes>
        </mongo:find-one-object-using-query-map>
<!-- END_INCLUDE(mongo:find-one-object-using-query-map) -->

<!-- BEGIN_INCLUDE(mongo:update-objects-using-query-map) -->
        <mongo:update-objects-using-query-map config-ref="Mongo_DB__ConnectionManagement" collection="myCollection" upsert="true">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
            </mongo:query-attributes>
            <mongo:element ref="#[payload.element]"/>
        </mongo:update-objects-using-query-map>
<!-- END_INCLUDE(mongo:update-objects-using-query-map) -->

<!-- BEGIN_INCLUDE(mongo:update-objects-using-map) -->
        <mongo:update-objects-using-map config-ref="Mongo_DB__ConnectionManagement" collection="myCollection" upsert="true">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
            </mongo:query-attributes>
            <mongo:element-attributes>
                <mongo:element-attribute key="foo">bar</mongo:element-attribute>
                <mongo:element-attribute key="foobar">baz</mongo:element-attribute>
            </mongo:element-attributes>
        </mongo:update-objects-using-map>
<!-- END_INCLUDE(mongo:update-objects-using-map) -->

<!-- BEGIN_INCLUDE(mongo:update-objects-by-function) -->
        <mongo:update-objects-by-function config-ref="Mongo_DB__ConnectionManagement" collection="myCollection" upsert="true" function="$set">
        	<mongo:query ref="#[payload]"/>
        	<mongo:element ref="#[payload]"/>
        </mongo:update-objects-by-function>
<!-- END_INCLUDE(mongo:update-objects-by-function) -->

<!-- BEGIN_INCLUDE(mongo:update-objects-by-function-using-map) -->
        <mongo:update-objects-by-function-using-map config-ref="Mongo_DB__ConnectionManagement" collection="myCollection" upsert="true" function="$set">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
            </mongo:query-attributes>
            <mongo:element-attributes>
                <mongo:element-attribute key="foo">bar</mongo:element-attribute>
                <mongo:element-attribute key="foobar">baz</mongo:element-attribute>
            </mongo:element-attributes>
        </mongo:update-objects-by-function-using-map>
<!-- END_INCLUDE(mongo:update-objects-by-function-using-map) -->

<!-- BEGIN_INCLUDE(mongo:insert-from-map) -->
        <mongo:insert-from-map config-ref="Mongo_DB__ConnectionManagement" collection="Employees">
            <mongo:element-attributes>
                <mongo:element-attribute key="foo">bar</mongo:element-attribute>
                <mongo:element-attribute key="foobar">baz</mongo:element-attribute>
            </mongo:element-attributes>
        </mongo:insert-from-map>
<!-- END_INCLUDE(mongo:insert-from-map) -->

<!-- BEGIN_INCLUDE(mongo:create-file-from-payload) -->
        <mongo:create-file-from-payload config-ref="Mongo_DB__ConnectionManagement" filename="#[variable:filename]" metadata-ref="myDbObject"/>
<!-- END_INCLUDE(mongo:create-file-from-payload) -->

<!-- BEGIN_INCLUDE(mongo:find-files) -->
        <mongo:find-files config-ref="Mongo_DB__ConnectionManagement" query-ref="myDbObject" />
<!-- END_INCLUDE(mongo:find-files) -->

<!-- BEGIN_INCLUDE(mongo:find-files-using-query-map) -->
        <mongo:find-files-using-query-map config-ref="Mongo_DB__ConnectionManagement">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
                <mongo:query-attribute key="foos">bars</mongo:query-attribute>
            </mongo:query-attributes>
        </mongo:find-files-using-query-map>
<!-- END_INCLUDE(mongo:find-files-using-query-map) -->

<!-- BEGIN_INCLUDE(mongo:find-one-file) -->
        <mongo:find-one-file config-ref="Mongo_DB__ConnectionManagement" query-ref="myDbObject" />
<!-- END_INCLUDE(mongo:find-one-file) -->

<!-- BEGIN_INCLUDE(mongo:get-file-content) -->
        <mongo:get-file-content config-ref="Mongo_DB__ConnectionManagement" query-ref="myDbObject" />
<!-- END_INCLUDE(mongo:get-file-content) -->

<!-- BEGIN_INCLUDE(mongo:get-file-content-using-query-map) -->
        <mongo:get-file-content-using-query-map config-ref="Mongo_DB__ConnectionManagement">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
                <mongo:query-attribute key="foos">bars</mongo:query-attribute>
            </mongo:query-attributes>
        </mongo:get-file-content-using-query-map>
<!-- END_INCLUDE(mongo:get-file-content-using-query-map) -->

<!-- BEGIN_INCLUDE(mongo:list-files) -->
        <mongo:list-files config-ref="Mongo_DB__ConnectionManagement" query-ref="myDbObject"/>
<!-- END_INCLUDE(mongo:list-files) -->

<!-- BEGIN_INCLUDE(mongo:list-files-using-query-map) -->
        <mongo:list-files-using-query-map config-ref="Mongo_DB__ConnectionManagement">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">foobaz</mongo:query-attribute>
                <mongo:query-attribute key="foobar">foobaz</mongo:query-attribute>
            </mongo:query-attributes>
        </mongo:list-files-using-query-map>
<!-- END_INCLUDE(mongo:list-files-using-query-map) -->

<!-- BEGIN_INCLUDE(mongo:remove-files) -->
        <mongo:remove-files config-ref="Mongo_DB__ConnectionManagement" query-ref="myDbObject"/>
<!-- END_INCLUDE(mongo:remove-files) -->

<!-- BEGIN_INCLUDE(mongo:remove-files-using-query-map) -->
        <mongo:remove-files-using-query-map config-ref="Mongo_DB__ConnectionManagement">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">foobaz</mongo:query-attribute>
                <mongo:query-attribute key="foobar">foobaz</mongo:query-attribute>
            </mongo:query-attributes>
        </mongo:remove-files-using-query-map>
<!-- END_INCLUDE(mongo:remove-files-using-query-map) -->

<!-- BEGIN_INCLUDE(mongo:find-one-file-using-query-map) -->
        <mongo:find-one-file-using-query-map config-ref="Mongo_DB__ConnectionManagement">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">bar</mongo:query-attribute>
                <mongo:query-attribute key="foos">bars</mongo:query-attribute>
            </mongo:query-attributes>
        </mongo:find-one-file-using-query-map>
<!-- END_INCLUDE(mongo:find-one-file-using-query-map) -->

<!-- BEGIN_INCLUDE(mongo:dump) -->
        <mongo:dump config-ref="Mongo_DB__ConnectionManagement" oplog="true"/>
<!-- END_INCLUDE(mongo:dump) -->

<!-- BEGIN_INCLUDE(mongo:restore) -->
        <mongo:restore config-ref="Mongo_DB__ConnectionManagement" inputPath="dump/test.zip" oplogReplay="true"/>
<!-- END_INCLUDE(mongo:restore) -->

<!-- BEGIN_INCLUDE(mongo:incremental-dump) -->
        <mongo:incremental-dump config-ref="Mongo_DB__ConnectionManagement" />
<!-- END_INCLUDE(mongo:incremental-dump) -->

<!-- BEGIN_INCLUDE(mongo:dbobjectToJson) -->
        <mongo:json-to-dbobject />
<!-- END_INCLUDE(mongo:dbobjectToJson) -->

<!-- BEGIN_INCLUDE(mongo:bsonListToJson) -->
        <mongo:bson-list-to-json />
<!-- END_INCLUDE(mongo:bsonListToJson) -->

<!-- BEGIN_INCLUDE(mongo:mongoCollectionToJson) -->
        <mongo:mongo-collection-to-json />
<!-- END_INCLUDE(mongo:mongoCollectionToJson) -->

<!-- BEGIN_INCLUDE(mongo:dbObjectToMap) -->
        <mongo:db-object-to-map />
<!-- END_INCLUDE(mongo:dbObjectToMap) -->

<!-- BEGIN_INCLUDE(mongo:jsonToDocument) -->
        <mongo:json-to-document />
<!-- END_INCLUDE(mongo:jsonToDocument) -->

<!-- BEGIN_INCLUDE(mongo:documentToJson) -->
        <mongo:document-to-json />
<!-- END_INCLUDE(mongo:documentToJson) -->
