<?xml version="1.0" encoding="UTF-8"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="%JAR_NAME%" contributionJavaDocs="%JAVADOC_JAR%" contributionLibPathInMule="/plugins" contributionLibs="%ZIP_NAME%" contributionNamespace="http://www.mulesoft.org/schema/mule/mongo" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/mongo/2.0/mule-mongo.xsd" contributionNamespacePrefix="mongo" contributionSources="%SOURCES_JAR%" contributionType="cloud-connector" name="Mongo" path="editors.xml" version="%PROJECT_VERSION%"/></extension></plugin>